@import '../../variables';

// .register-container {
//   background: linear-gradient(to right, #3484e7, #474545a9);
//   height: 80vh;
// }

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

$background: #FBFBFB;
$blue: #3498db;

.container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #2c3e50;
	background-size: cover;
	.box#sign-up {
		box-sizing: border-box;
		width: 440px;
		margin: 40px auto;
		background: $background;
		border-radius: 2px;
		box-shadow: 0 1px 20px 5px rgba(0,0,0,0.4);
		padding: 15px 35px;
		.back {
			text-decoration: none;
			line-height: 40px;
			.back-arrow {
				color: #777;
			}
		}
		.brand {
			.logo {
				position: relative;
				width: 65px;
				height: 60px;
				margin: 0 auto;
				.square {
					position: absolute;
					left: 9px;
					background: $background;
					width: 40px;
					height: 40px;
					border: 3px solid $blue;
					border-radius: 8px;
					transform: rotateX(55deg) rotateZ(45deg);
					box-shadow: 3px 3px 0px 2px white;
					-webkit-backface-visibility: hidden;
					&:nth-of-type(1) {
						background: $blue;
						top: 0;
						z-index: 99;
					}
					&:nth-of-type(2) {
						top: 12px;
						z-index: 98;
					}
					&:nth-of-type(3) {
						top: 24px;
						z-index: 97;
					}
				}
			}
			.title {
				font-weight: 400;
				color: #333;
				text-align: center;
			}
		}
		.form {
			input {
				outline: 0;
				border: 1px solid #CCC;
				box-sizing: border-box;
				padding: 8px;
				color: #222;
				border-radius: 4px;
				width: 100%;
				margin: 5px 0;
				font-weight: 600;
				&::-webkit-input-placeholder {
					color: #AAA;
					font-weight: 400;
				}
			}
			.row {
				input {
					width: calc(50% - 5px);
					float: left;
					&:first-of-type {
						margin-right: 10px;
					}
				}
			}
			.checkbox {
				margin: 5px 0;
				.checkbox-label {
					position: relative;
					display: table;
					width: 16px;
					height: 16px;
					background: white;
					border: 1px solid #CCC;
					border-radius: 2px;
					float: left;
					margin: 5px 5px 5px 0;
				}
				input[type="checkbox"] {
					display: none;
					&:checked ~ label.checkbox-label {
						&:before {
							content: "";
							position: absolute;
							top: 7px;
							left: 5px;
							height: 3px;
							width: 10px;
							background: $blue;
							transform: rotate(-45deg);
						}
						&:after {
							content: "";
							position: absolute;
							top: 5px;
							left: 3px;
							height: 6px;
							width: 3px;
							background: $blue;
							transform: rotate(-45deg);
						}
					}
				}
				label.description {
					float: left;
					margin: 3px 0;
					color: #333;
					a {
						text-decoration: none;
						color: #5AA4EC;
						font-weight: 600;
					}
				}
			}
			button {
				width: 100%;
				background: $blue;
				line-height: 40px;
				border: 0;
				outline: 0;
				color: white;
				border-radius: 20px;
				font-weight: 300;
				margin-top: 15px;
				margin-bottom: 50px;
			}
		}
	}
}