@import '../../variables';

.nav {
  font-size: 24px;
  padding: 25px 50px;
  font-family: 'Montserrat', sans-serif;
  border-bottom: solid 1px #222;
  background: $primaryColor;
  color: white;
  height: 45px;
  border: 10px solid black;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-logo {
 font-size: 45px;
 
 @media (max-width: 940px){
   font-size: 30px;
 }
}


.nav-links {
  display: flex;
}

.links {
  margin-right: 30px;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}