@import '../../variables';

.nav {
  font-size: 24px;
  padding: 25px 50px;
  font-family: 'Montserrat', sans-serif;
  background: #474545;
  color: white;
  height: 85px;
  // border: 10px solid black;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  @media screen and (min-width: 1650px){
    padding: 0 10rem;
  }
  @media screen and (min-width: 1500px){
    padding: 0 6rem;
  }
}

.nav-logo {
  font-size: 45px;

  @media (max-width: 940px){
    font-size: 30px;
  }
}

.nav-social-wrap, 
.nav-social-wrap:visited {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 8px;
}

.social-links, 
.social-links:visited {
  font-size: 14px;
  margin-right: 30px;
  text-decoration: none;
  color: #fff;
}

.social-icons {
  font-size: 20px;
}

.nav-links-wrap {
  display: flex;
  align-items: baseline;
}

.links {
  padding: 0 20px;
  font-size: 22px;
  text-decoration: none;
  color: #fff;
  // transform: skew(-10deg);

  &:hover{
    font-weight: 800;
  }
}

.link-box {
  background-color: $primaryLightColor;
  color: $primaryColor;
  padding: 25px;
  font-weight: 800;
  margin-right: 10px;
  // width: 100px;
  // height: 100px;
  transform: skew(-10deg);
}

#join-box {
  background: $secondaryColor;
  color: $primaryLightColor
}