@import '../../variables';

.contact-container {
  background: #d1b88a;
  height: 100vh;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.contact-wrap {
  padding: 50px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-input {
  width: 100%;
  margin-bottom: 10px;
  height: 30px;
}

.contact-message {
  width: 100%;
  margin-bottom: 10px;
  height: 125px;
}

.contact-button {
  align-self: flex-start;
  font-size: 20px;
}