@import '../../variables';

.top-container {
  background: linear-gradient(to right, #4292ee56, #474545da), url("../../images/tuni-byu.jpg") center;
  background-size: cover;
  height: 80vh;
}

.top-wrap {
  // width: 100%;
  /* max-width: 1200px; */
  position: absolute;
  top: 20%;
  left: 42%;
  padding: 8px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    color: $primaryLightColor;
    font-size: 5rem;
    margin: 0;
  }
}

.top-text-box {
  background-color: $secondaryColor;
  width: 30rem;
  height: 7rem;
  transform: skew(-10deg);
}

.mid-container {
  height: 80vh;
}