@import '../../variables';

.icon-wrap {
  position: absolute;
  top: 1.2rem;
  right: 1.5rem;
  background: transparent;
  font-size: 2rem;
  cursor: pointer;
  outline: none;
  float: right;
  color: $primaryLightColor;
}

.sidebar-header {
  width: 100%;
  margin: 6rem 0 2rem;
  text-align: center;
  color: $primaryLightColor;
}

.sidebar-wrap {
  color: $primaryLightColor;
  width: 100%;
  .sidebar-menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 60px);
    text-align: left;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    @media screen and (max-width: 480px) {
      grid-template-rows: repeat(6, 60px);
    }

    .sidebar-link {
      height: 100%;
      color: white;
      padding-left: 20px;
      &:hover {
        text-decoration: none;
        background-color: #696565;
      }
    }
  }
}